[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
flask-cors = "*"
autopep8 = "*"
firebase-admin = "*"
gunicorn = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
